<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>会員一覧</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5 list-container">
		<h2 class="text-center page-title">会員一覧</h2>
		<div class="my-4">
			<p class="h5 font-weight-bold">検索条件</p>
			<form action="#" th:action="@{/TSMEMMTB10/search}" th:object="${tsmemmTbDto}" method="get">
				<div class="mb-3 row">
					<label for="name" class="search-label col-form-label">名前</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{name}" class="form-control" id="name">
						<span th:text="${validationNameError}" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="email" class="search-label col-form-label">メールアドレス</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{email}" class="form-control" id="email">
						<span th:text="${validationEmailError}" class="text-danger"></span>
					</div>
					<div>
						<input type="submit" class="btn btn-outline-secondary" value="検索">
					</div>
				</div>
			</form>
		</div>
		<div class="my-4">
			<span th:text="${error}" class="text-danger"></span>
		</div>
		<div>
			<table class="table table-striped text-center">
				<thead>
					<tr>
						<th>No.</th>
						<th>名前</th>
						<th>メールアドレス</th>
						<th>更新</th>
						<th>退会</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="member : ${memberList}">
						<td th:text="${member.memberId}" th:title="${member.memberId}"></td>
						<td th:text="${member.name}" th:title="${member.name}"></td>
						<td th:text="${member.email}" th:title="${member.email}"></td>
						<td><a th:href="@{/TSMEMMIC20/init/{id}(id=${member.memberId})}"
								class="btn btn-outline-secondary">更新</a></td>
						<td><a th:href="@{/TSMEMMID30/init/{id}(id=${member.memberId})}"
								class="btn btn-outline-secondary">退会</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--ページネーション-->
		<div class="row">
			<div class="col-sm my-4"></div>
			<div class="col-sm my-4" th:insert="common/pagination">
			</div>
			<div class="col-sm text-right my-4">
				<a th:href="@{/member/register}" class="btn btn-outline-secondary">登録</a>
				<a th:href="@{/TSMEMMTB10/main}" class="btn btn-outline-secondary">戻る</a>
			</div>
		</div>

	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>