<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>会員情報登録</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5">
		<h2 class="text-center page-title">会員情報登録</h2>
		<form action="#" th:action="@{/TSCOMMIR30/init}" th:object="${tscommirDto}" method="post" class="m-5">
			<span class="table-wrapper-scroll-y table-scrollbar"
				style="display: block; height: 520px; overflow-x: hidden;">
				<div class="mb-3 row justify-content-center">
					<label for="membership" class="col-sm-2 col-form-label">会員区分</label>
					<div class="col-sm-6">
						<th:block th:if="${tscommirDto.memberId != null}">
							<div class="form-check form-check-inline">
								<input class="form-check-input" th:field="*{memberClass}" type="radio" name="membership"
									id="membership2" value="0">
								<label class="form-check-label" for="membership2">一般</label>
							</div>
						</th:block>
						<div class="form-check form-check-inline">
							<input class="form-check-input" th:field="*{memberClass}" type="radio" name="membership"
								id="membership2" value="1">
							<label class="form-check-label" for="membership2">職員</label>
						</div>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="name" class="col-sm-2 col-form-label">名前</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="（例）新宿太郎">
						<span th:text="${validationNameError}" class="text-danger"></span>
						<p class="mt-2 mb-0">※苗字と名前の間に空白を入れないでください</p>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="birthday" class="col-sm-2 col-form-label">生年月日</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{birthday}" class="form-control" id="birthday"
							placeholder="（例）yyyy/mm/dd">
						<span th:text="${validationBirthdayError}" class="text-danger"></span>
						<p class="mt-2 mb-0">※yyyy/mm/dd形式で入力してください</p>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="post" class="col-sm-2 col-form-label">郵便番号</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" th:field="*{postalCode1}" aria-label="First post" class="form-control"
								maxlength="3">
							<p class="ml-2 mr-2 mt-1">-</p>
							<input type="text" th:field="*{postalCode2}" aria-label="Last post" class="form-control"
								maxlength="4">
						</div>
						<span th:text="${validationPostalCodeError}" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="address" class="col-sm-2 col-form-label">住所</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{address}" class="form-control" id="address">
						<span th:text="${validationAddressError}" class="text-danger"></span>
						<p class="mt-2 mb-0">※都道府県から入力してください</p>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="tel" class="col-sm-2 col-form-label">電話番号</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" th:field="*{telNumber1}" aria-label="First tel" class="form-control">
							<p class="ml-2 mr-2 mt-1">-</p>
							<input type="text" th:field="*{telNumber2}" aria-label="Middle tel" class="form-control">
							<p class="ml-2 mr-2 mt-1">-</p>
							<input type="text" th:field="*{telNumber3}" aria-label="Last tel" class="form-control">
						</div>
						<span th:text="${validationTelNumberError}" class="text-danger"></span>
						<p class="mt-2 mb-0">※電話番号は携帯電話番号のみ</p>
					</div>
				</div>
				<div class="mb-3 row justify-content-center">
					<label for="email" class="col-sm-2 col-form-label">メールアドレス</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{email}" class="form-control" id="email">
						<span th:text="${validationEmailError}" class="text-danger"></span>
					</div>
				</div>
			</span>
			<div class="text-center my-4">
				<input type="submit" class="btn btn-outline-primary" value="確認">
				<th:block th:if="${tscommirDto.memberId != null}">
					<a th:href="@{/member/list}" class="btn btn-outline-secondary">戻る</a>
				</th:block>
				<th:block th:if="${tscommirDto.memberId == null}">
					<a th:href="@{/logout}" class="btn btn-outline-secondary">戻る</a>
				</th:block>
			</div>
		</form>
	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>