<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>延滞資料一覧</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">

	<script>

		function flagAction() {
			var button = document.getElementById("notificationButton");
			if (button.innerText === "連絡する") {
				button.innerText = "連絡済み";
			} else {
				button.innerText = "連絡する";
			}
		}
	</script>

</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5 list-container">
		<h2 class="text-center page-title">延滞資料一覧</h2>
		<form action="#" th:action="@{/TSBKSBOT10/contact}" method="post" class="text-center my-5">
			<div>
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th>貸出ID</th>
							<th style="width: 270px;">資料名</th>
							<th>名前</th>
							<th style="width: 270px;">住所</th>
							<th style="width: 150px;">電話番号</th>
							<th>E-mail</th>
							<th>返却期日</th>
							<th>超過日数</th>
							<th>連絡状態</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="delay : ${delayList}">
							<td th:text="${delay.rentalId}" th:title="${delay.rentalId}"></td>
							<td th:text="${delay.title}" th:title="${delay.title}"></td>
							<td th:text="${delay.name}" th:title="${delay.name}"></td>
							<td th:text="${delay.address}" th:title="${delay.address}"></td>
							<td th:text="${delay.telNumber}" th:title="${delay.telNumber}"></td>
							<td><a th:text="${delay.email}" th:title="${delay.email}"
									th:href="'mailto:' + ${delay.email}">
								</a>
							</td>
							<td th:text="${#dates.format(delay.rentalDueDate, 'yyyy/MM/dd')}"
								th:title="${#dates.format(delay.rentalDueDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${delay.overDueDays}+日" th:title="${delay.overDueDays}+日"></td>
							<!-- <td th:text="${delay.remidFlag}"></td> -->
							<td>
								<a th:if="${delay.remidFlag}">連絡済み</a>
								<a th:unless="${delay.remidFlag}"
									th:href="@{/TSBKSBOT10/contact/{id}(id=${delay.rentalId})}"
									class="btn btn-outline-secondary">連絡</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm my-4"></div>
				<div class="col-sm my-4" th:insert="common/pagination">
				</div>
				<div class="col-sm text-right my-4">
					<a th:if="${delayClearFlg == '1'}">
						<a th:href="@{/TSBKSBOT10/contactClear}" class="btn btn-outline-primary">延滞連絡リセット</a>
					</a>
					<a th:href="@{/init}" class="btn btn-outline-secondary">戻る</a>
				</div>
			</div>
		</form>
	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>