<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>資料貸出完了</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5 list-container">
		<h2 class="text-center page-title">資料貸出完了</h2>
		<p th:if="${paramError != null}" class="text-center text-danger m-5 h4">
			<strong th:text="${paramError}"></strong>
		</p>
		<p th:if="${error != null}" class="text-center text-danger m-5 h4">
			<strong th:text="${error}"></strong>
		</p>
		<form action="#" th:action="@{/TSRENRBT10/init}" th:object="${tsrenrbtDto}" method="get">
			<div class="row my-1">
				<div class="col-sm-1">
					<h5 class="font-weight-bold">会員ID</h5>
				</div>
				<div class="col-sm-11">
					[[${tsrenrbtDto.memberId}]]
					<input type="hidden" name="memberId" th:value="${tsrenrbtDto.memberId}">
				</div>
			</div>
			<div class="row my-1">
				<div class="col-sm-1">
					<h5 class="font-weight-bold">名前</h5>
				</div>
				<div class="col-sm-11">
					[[${userName}]]
				</div>
			</div>
			<div class="row my-1">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th>資料ID</th>
							<th>資料名</th>
							<th>返却期限</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rental : ${rentalList}">
							<td th:text="${rental.bookId}" th:title="${rental.bookId}"></td>
							<td th:text="${rental.title}" th:title="${rental.title}"></td>
							<td th:text="${rental.rentalDueDate}" th:title="${rental.rentalDueDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-right my-5">
				<button type="submit" name="back" class="btn btn-outline-secondary">戻る</button>
			</div>
		</form>
	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>