<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>貸出資料一覧</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<script th:src="@{/js/tsrenrbt10.js}"></script>
</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5 list-container">
		<h2 class="text-center page-title">貸出資料一覧</h2>
		<div>
			<div class="my-4" th:object="${tsrenrbtDto}">
				<p class="h5 font-weight-bold">検索条件</p>
				<div class="mb-3 row">
					<label for="bookId" class="search-label col-form-label">資料ID</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{bookId}" class="form-control" id="bookId">
						<span th:text="${validationBookIdError}" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="title" class="search-label col-form-label">資料名</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{title}" class="form-control" id="title">
						<span th:text="${validationTitleError}" class="text-danger"></span>
					</div>
					<button type="button" class="btn btn-outline-secondary search-button"
						th:onclick="|rentalBokkLibraryListFormSubmit('bookSearch')|">検索</button>
				</div>
			</div>
			<p th:if="${error != null}" class="text-center text-danger m-5 h4">
				<strong th:text="${error}"></strong>
			</p>
			<div th:if="${rentalBookIdError != null}">
				<h6 th:each="rbError : ${rentalBookIdError}" class="text-left text-danger" th:text="${rbError}"></h6>
			</div>
			<form action="#" th:action="@{/TSRENRBR30/init}" method="post" th:object="${tsrenrbtDto} ">
				<input type="hidden" th:field="*{memberId}" th:value="${tsrenrbtDto.memberId}">
				<div class="text-center">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>資料ID</th>
								<th>資料名</th>
								<th>資料選択</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bookLibraryList : ${bookLibraryList}">
								<td th:text="${bookLibraryList.bookId}" th:title="${bookLibraryList.bookId}"></td>
								<td th:text="${bookLibraryList.title}" th:title="${bookLibraryList.title}"></td>
								<td><input type="checkbox" th:field="*{bookIdList}" th:value="${bookLibraryList.bookId}"
										th:checked="false" class="checkbox-size-20"></td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-sm my-4"></div>
					<div class="col-sm my-4" th:insert="common/pagination">
					</div>
					<div class="col-sm text-right my-4">
						<input type="submit" class="btn btn-outline-primary" value="貸出処理">
						<a th:href="@{/TSRENRBT10/member/list}" class="btn btn-outline-secondary">戻る</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>