<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>資料返却一覧</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
	<header>
		<a th:href="@{/}">
			<img th:src="@{/image/header.jpg}" class="header-img">
		</a>
	</header>
	<div class="container my-5 list-container">
		<h2 class="text-center page-title">資料返却一覧</h2>
		<div class="my-4">
			<p class="h5 font-weight-bold">検索条件</p>
			<form action="#" th:action="@{/TSRTNRTB10/search}" th:object="${TSRTNRTBinDto}" method="get">
				<div class="mb-3 row">
					<label for="memberId" class="search-label col-form-label">会員ID</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{memberId}" class="form-control" name="memberId">
						<span th:text="${validationMemberIdError}" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="bookId" class="search-label col-form-label">資料ID</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{bookId}" class="form-control" name="bookId">
						<span th:text="${validationBookIdError}" class="text-danger"></span>
					</div>
					<input type="submit" class="btn btn-outline-secondary  search-button" value="検索">
				</div>
				<span th:text="${error}" class="text-danger"></span>
			</form>
		</div>
		<form action="#" th:action="@{/TSRTNRTB30/init}" th:object="${inDto}" method="get">
			<div>
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th>会員ID</th>
							<th>資料ID</th>
							<th>貸出日付</th>
							<th>貸出期限</th>
							<th>返却</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${!#lists.isEmpty(outDto)}" th:each="rental : ${outDto}">
							<td th:text="${rental.memberId}" th:title="${rental.memberId}"></td>
							<td th:text="${rental.bookId}" th:title="${rental.bookId}"></td>
							<td th:text="${#dates.format(rental.rentalDate, 'yyyy/MM/dd')}" th:title="${#dates.format(rental.rentalDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${#dates.format(rental.rentalDueDate, 'yyyy/MM/dd')}" th:title="${#dates.format(rental.rentalDueDate, 'yyyy/MM/dd')}"></td>
							<td>
								<input type="checkbox" th:value="${rental.rentalId}" th:field="*{rentalIdList}"
									class="checkbox-size-20">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ページネーション -->
			<div class="row">
				<div class="col-sm my-4"></div>
				<div class="col-sm my-4" th:insert="common/pagination">
				</div>
				<div class="col-sm text-right my-4">
					<input type="submit" class="btn btn-outline-secondary" value="返却">
					<a th:href="@{/init}" class="btn btn-outline-secondary">戻る</a>
				</div>
			</div>
		</form>
	</div>
	<footer class="footer">
		<img th:src="@{/image/footer.jpg}">
	</footer>
</body>

</html>